name: Deploy to Production

on:
  push:
    branches: ["main"]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to prod server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.MLX_HOST }}
          username: ${{ secrets.MLX_USER }}
          key: ${{ secrets.MLX_KEY }}
          script: |
            cd /home/mistresslotusx/htdocs/mistresslotusx.com
            git pull
            npm install --omit=dev
            npm run build
            pm2 restart mistresslotusx
